<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>共通ヘッダー</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<!-- header フラグメントを定義 -->
	<header class="header" th:fragment="header">
		<div class="header-left">
			<a th:href="@{/goodsList}" class="logo">
				<img src="/images/blog-0923-03.jpg" alt="会社ロゴ">
			</a>
		</div>
		<div class="header-center">
			<form th:action="@{/goodsList/search}" method="get" class="search-container">
				<select name="category" class="search-category">
				    <option value="すべて">すべて</option>
				    <option value="家具・照明">家具・照明</option>
				    <option value="家電">家電</option>
				    <option value="日用品">日用品</option>
					<option value="アウトドア">アウトドア</option>
				    <option value="スマホアクセサリ">スマホアクセサリ</option>
				    <option value="キッチン用品">キッチン用品</option>
				    <option value="PC周辺機器">PC周辺機器</option>
				</select>
				<input type="text" name="keyword" placeholder="検索..." class="search-box">
				<button type="submit" class="search-button">
					<img src="/images/sdesign_00182.png" alt="検索アイコン" class="search-icon">
				</button>
			</form>
		</div>
		<div class="header-right">
			<a th:href="@{/cart}" class="header-button">
				<img src="/images/icon_123370_256.jpg" alt="カートマーク">
			</a>
			<a th:href="@{/account}" class="header-button">
				<img src="/images/kkrn_icon_user_13.png" alt="アカウントマーク">
			</a>
		</div>
	</header>
</body>

</html>