<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>新規登録</title>
</head>
<body>
    <h2>ユーザー登録</h2>
	<form action="/signup" method="post">
	    名前: <input type="text" name="name"><br>
	    フリガナ: <input type="text" name="furigana"><br>
	    郵便番号: <input type="text" name="postalCode"><br>
	    住所: <input type="text" name="address"><br>
	    電話番号: <input type="text" name="phoneNumber"><br>
	    メール: <input type="email" name="email"><br>
	    パスワード: <input type="password" name="passWord"><br>
	    確認用パスワード: <input type="password" name="passWordConfirmation"><br>
	    <input type="submit" value="登録">
	</form>
</body>
</html>